REDIS_URL=redis://redis:6379/0
SECRET_KEY=

ALGORITHM=HS256

ACCESS_TOKEN_EXPIRE_MINUTES=

#from https://console.cloud.google.com/ (create e new project)
GOOGLE_IMAGE_API_KEY=
SEARCH_ENGINE_ID=

BACKEND_BASE_URL=http://localhost:8000
FRONTEND_BASE_URL=http://localhost:5173

#Your email 
EMAIL_SENDER=
#Generate an app password from settings account , after set two-step verification
EMAIL_PASSWORD=
