@import "tailwindcss";

@layer base {
  :root {
    --background: #071320;
    --foreground: #f8fafc;
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  }
}